.main-header__img {
    position: absolute;
    top: 0;
    @include centering-width-pseudo-element;
}

.main-header__button {
    width: 23px;
    height: 22px;
    background: url(./../../public/img/icon-menu.svg.svg);
    margin-left: auto;
    display: block;
}

.main-header {
    padding: 17px 20px;
}