.main-footer__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 33px;
  color: #000000;
}

.author__text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.author {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 7px;
    align-items: center;
    margin-bottom: 21px;
}

.main-footer__li {
    background: #81B3D2;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-footer__ul {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    margin-bottom: 21px;
}
